<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_zamestnanec})}|">Show Zamestnanec - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${zamestnanec}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="zamestnanec-jmeno-field" data-z="954714d0">
            	      <strong data-th-text="#{label_zamestnanec_jmeno}">jmeno</strong>
                    <span data-th-text="*{{jmeno}}">jmenoValue</span>
         	        </li>
                  <li id="zamestnanec-prijmeni-field" data-z="2116532e">
            	      <strong data-th-text="#{label_zamestnanec_prijmeni}">prijmeni</strong>
                    <span data-th-text="*{{prijmeni}}">prijmeniValue</span>
         	        </li>
                  <li id="zamestnanec-login-field" data-z="61dd810">
            	      <strong data-th-text="#{label_zamestnanec_login}">login</strong>
                    <span data-th-text="*{{login}}">loginValue</span>
         	        </li>
                  <li id="zamestnanec-hodinova_sazba-field" data-z="d77dae2e">
            	      <strong data-th-text="#{label_zamestnanec_hodinova_sazba}">hodinova_sazba</strong>
                    <span data-th-text="*{{hodinova_sazba}}">hodinova_sazbaValue</span>
         	        </li>
                  <li id="zamestnanec-pozice-field" data-z="522157ae">
            	      <strong data-th-text="#{label_zamestnanec_pozice}">pozice</strong>
                    <span data-th-text="*{{pozice}}">poziceValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
